.faqPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-6xl);;
    background-color: var(--color-bg);
    min-height: 100%;
}

.pageHeader h2 {
    font-size: 48px;
    text-align: center;
    margin-bottom: var(--spacing-6xl);;
    font-weight: var(--font-weight-bold);
}

.faqList {
    max-width: 700px;
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.faqBox {
    background-color: var(--color-surface);
    border: 1px solid var(--color-border);
    border-radius:  var(--border-radius-lg);
    margin-bottom: var(--spacing-md);
    font-family: var(--font-family-rubik);
    box-shadow: var(--shadow-sm);
    overflow: hidden;
    padding: var(--spacing-md) var(--spacing-xl);
    color: var(--color-text-light);
    transition: background 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.openBox {
    background-color: var(--color-surface-hi);
    color: var(--color-accent-neon);
    box-shadow: var(--shadow-glow-neon);
}

.questionToggle {
    background: none;
    border: none;
    padding: var(--spacing-md) var(--spacing-xl) var(--spacing-md) 1.5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    cursor: pointer;
    align-items: center;
}

.question {
    color: inherit;
    font-size: 30px;
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--spacing-md);
}

.icon {
    color: var(--color-accent-light);
    font-size: 1.5rem;
    transition: transform 0.3s;
}

.answer {
    color: inherit;
    font-size: 13.3333px ;
    line-height: 1.5;
    transition: opacity 0.2s, max-height 0.2s ease;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}

.open {
    max-height: 300px;
    opacity: 1;
    margin-top: var(--spacing-sm);
    margin-bottom: var(--spacing-md);
}

@media screen and (max-width: 768px) {
    .faqPage {
        padding: var(--spacing-lg);
    }
}